body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
}

h3 {
    margin-bottom: 15px;
}

.list-group-item {
    cursor: pointer;
    background-color: #1e1e1e;
    color: #fff;
    border: 1px solid #333;
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #1db954;
    color: #fff;
}
